@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-Lt.eot');
    src: url('HelveticaNeueLTStd-Lt.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTStd-Lt.woff2') format('woff2'),
        url('HelveticaNeueLTStd-Lt.woff') format('woff'),
        url('HelveticaNeueLTStd-Lt.ttf') format('truetype'),
        url('HelveticaNeueLTStd-Lt.svg#HelveticaNeueLTStd-Lt') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-Roman.eot');
    src: url('HelveticaNeueLTStd-Roman.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTStd-Roman.woff2') format('woff2'),
        url('HelveticaNeueLTStd-Roman.woff') format('woff'),
        url('HelveticaNeueLTStd-Roman.ttf') format('truetype'),
        url('HelveticaNeueLTStd-Roman.svg#HelveticaNeueLTStd-Roman') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-It.eot');
    src: url('HelveticaNeueLTStd-It.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTStd-It.woff2') format('woff2'),
        url('HelveticaNeueLTStd-It.woff') format('woff'),
        url('HelveticaNeueLTStd-It.ttf') format('truetype'),
        url('HelveticaNeueLTStd-It.svg#HelveticaNeueLTStd-It') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-Bd.eot');
    src: url('HelveticaNeueLTStd-Bd.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTStd-Bd.woff2') format('woff2'),
        url('HelveticaNeueLTStd-Bd.woff') format('woff'),
        url('HelveticaNeueLTStd-Bd.ttf') format('truetype'),
        url('HelveticaNeueLTStd-Bd.svg#HelveticaNeueLTStd-Bd') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('HelveticaNeue-Black.eot');
    src: url('HelveticaNeue-Black.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeue-Black.woff2') format('woff2'),
        url('HelveticaNeue-Black.woff') format('woff'),
        url('HelveticaNeue-Black.ttf') format('truetype'),
        url('HelveticaNeue-Black.svg#HelveticaNeue-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('HelveticaNeue-Bold.eot');
    src: url('HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeue-Bold.woff2') format('woff2'),
        url('HelveticaNeue-Bold.woff') format('woff'),
        url('HelveticaNeue-Bold.ttf') format('truetype'),
        url('HelveticaNeue-Bold.svg#HelveticaNeue-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('HelveticaNeue-Heavy.eot');
    src: url('HelveticaNeue-Heavy.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeue-Heavy.woff2') format('woff2'),
        url('HelveticaNeue-Heavy.woff') format('woff'),
        url('HelveticaNeue-Heavy.ttf') format('truetype'),
        url('HelveticaNeue-Heavy.svg#HelveticaNeue-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('HelveticaNeue-Italic.eot');
    src: url('HelveticaNeue-Italic.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeue-Italic.woff2') format('woff2'),
        url('HelveticaNeue-Italic.woff') format('woff'),
        url('HelveticaNeue-Italic.ttf') format('truetype'),
        url('HelveticaNeue-Italic.svg#HelveticaNeue-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('HelveticaNeue-Light.eot');
    src: url('HelveticaNeue-Light.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeue-Light.woff2') format('woff2'),
        url('HelveticaNeue-Light.woff') format('woff'),
        url('HelveticaNeue-Light.ttf') format('truetype'),
        url('HelveticaNeue-Light.svg#HelveticaNeue-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('HelveticaNeue-LightItalic.eot');
    src: url('HelveticaNeue-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeue-LightItalic.woff2') format('woff2'),
        url('HelveticaNeue-LightItalic.woff') format('woff'),
        url('HelveticaNeue-LightItalic.ttf') format('truetype'),
        url('HelveticaNeue-LightItalic.svg#HelveticaNeue-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('HelveticaNeue-Thin.eot');
    src: url('HelveticaNeue-Thin.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeue-Thin.woff2') format('woff2'),
        url('HelveticaNeue-Thin.woff') format('woff'),
        url('HelveticaNeue-Thin.ttf') format('truetype'),
        url('HelveticaNeue-Thin.svg#HelveticaNeue-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('HelveticaNeue-ThinExtObl.eot');
    src: url('HelveticaNeue-ThinExtObl.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeue-ThinExtObl.woff2') format('woff2'),
        url('HelveticaNeue-ThinExtObl.woff') format('woff'),
        url('HelveticaNeue-ThinExtObl.ttf') format('truetype'),
        url('HelveticaNeue-ThinExtObl.svg#HelveticaNeue-ThinExtObl') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('HelveticaNeue-Medium.eot');
    src: url('HelveticaNeue-Medium.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeue-Medium.woff2') format('woff2'),
        url('HelveticaNeue-Medium.woff') format('woff'),
        url('HelveticaNeue-Medium.ttf') format('truetype'),
        url('HelveticaNeue-Medium.svg#HelveticaNeue-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('HelveticaNeue-Roman.eot');
    src: url('HelveticaNeue-Roman.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeue-Roman.woff2') format('woff2'),
        url('HelveticaNeue-Roman.woff') format('woff'),
        url('HelveticaNeue-Roman.ttf') format('truetype'),
        url('HelveticaNeue-Roman.svg#HelveticaNeue-Roman') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('HelveticaNeue-UltraLigCond.eot');
    src: url('HelveticaNeue-UltraLigCond.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeue-UltraLigCond.woff2') format('woff2'),
        url('HelveticaNeue-UltraLigCond.woff') format('woff'),
        url('HelveticaNeue-UltraLigCond.ttf') format('truetype'),
        url('HelveticaNeue-UltraLigCond.svg#HelveticaNeue-UltraLigCond') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('HelveticaNeue-UltraLight.eot');
    src: url('HelveticaNeue-UltraLight.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeue-UltraLight.woff2') format('woff2'),
        url('HelveticaNeue-UltraLight.woff') format('woff'),
        url('HelveticaNeue-UltraLight.ttf') format('truetype'),
        url('HelveticaNeue-UltraLight.svg#HelveticaNeue-UltraLight') format('svg');
    font-weight: 200;

    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('HelveticaNeue-UltraLightItalic.eot');
    src: url('HelveticaNeue-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeue-UltraLightItalic.woff2') format('woff2'),
        url('HelveticaNeue-UltraLightItalic.woff') format('woff'),
        url('HelveticaNeue-UltraLightItalic.ttf') format('truetype'),
        url('HelveticaNeue-UltraLightItalic.svg#HelveticaNeue-UltraLightItalic') format('svg');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}






































